.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.gitpod.yml
.pnp.js
.theia
*.log
/.pnp
/build
/coverage
/node_modules
core.node.*
npm-debug.log*
tsconfig.tsbuildinfo
yarn-debug.log*
yarn-error.log*
yarn.lock